@font-face {
    font-family: MotivaSansBold;
    src: url("MotivaSansBold.woff.ttf");
}
body {
    background-image: url("4119759.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #1f1f1f;
}
#name {
    font-family: "MotivaSansBold";
    font-size: 60px;
    color: white;
    text-align: center;
    font-weight: bold;
}
#description {
    font-size: 20px;
    color: white;
    text-align: center;
    width: 50%;
    margin-left: 25%;
}
.logo {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
#intro {
    margin-top: 12%;
}
#topBar {
    text-align: center;
}
.topBarText {
    font-family: "MotivaSansBold";
    font-size: 15px;
    color: white;
    margin-left: 1%;
    margin-right: 1%;
    text-decoration: none;
}
#selected {
    color: #b54b00;
}

#button a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 1px solid #fff;
    border-radius: 100%;
}
#button a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
#buttonDiv {
    position: relative;
    margin-top: 6%;
}